@charset "UTF-8";

legend
    {
       font-size: 35px;
    }
    
    
body
  {
     /*background-color: #BEBEBE;*/
     
     /*background-image:linear-gradient(to right, rgb(7, 93, 129),rgb(3, 223, 252), rgb(16, 208, 233), rgb(7, 93, 129));*/
     
     background-image: url("bank images/skybg7.jpg");
	 background-repeat: no-repeat;
     background-size: cover;
  }
  
 h1
 {
   /*background-color: pink;*/
    background-image:radial-gradient(rgb(3, 223, 252), rgb(16, 208, 233), rgb(7, 93, 129));
 }
 
 p
  {
      position: absolute;
      top: 550px;
      left: 0px;
      font-size:35px;
      font-weight:bolder;
       
  } 
    
    